table{
    align-items: center;
    text-align: center;
}

th{
    border: 3px solid purple;
    color: white;
    background: magenta;
    font-size: 1.5rem;
    font-family: cursive;
}

tr td{
    border: 3px solid gray;
    background: aquamarine;
    font-family: cursive;
    font-size: 1.3rem;
    color: magenta;
}

button{
    background: magenta;
    font-size: 1.3rem;
    color: white;
    border-radius: 0px 10px 0px 10px;
    cursor: pointer;
}